%h1=t('.title')

%table
  %thead
    %tr
      %th Fact
      %th Message
      %th Author
      %th Location
      %th
      %th
      %th

  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.fact.statement
        %td= comment.message
        %td= comment.author
        %td= comment.location
        %td= link_to 'Show', comment
        %td= link_to 'Edit', edit_comment_path(comment)
        %td= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }

%br

<!-- = link_to 'New Comment', new_comment_path -->

= link_to 'All Facts', facts_path
