%p#notice= notice

%p
  %b Fact:
  = @comment.fact.statement
%p
  %b Message:
  = @comment.message
%p
  %b Author:
  = @comment.author
%p
  %b Location:
  = @comment.location

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
