= form_for @snake do |f|
  - if @snake.errors.any?
    #error_explanation
      %h2= "#{pluralize(@snake.errors.count, "error")} prohibited this snake from being saved:"
      %ul
        - @snake.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :breed
    = f.text_field :breed
  .field
    = f.label :age
    = f.number_field :age
  .field
    = f.label :owner_email
    = f.text_field :owner_email
  .actions
    = f.submit 'Save'
