%p
 %b Statement:
 = @fact.statement
%p
 %b Additional info:
 = @fact.additional_info
%p
 %b Author:
 = @fact.author

%p Comments:
%table
 %tbody
 - @fact.comments.each do |comment|
  %tr{id: "comment_#{comment.id}"}
  %td= comment.message
  %td= link_to 'Show', comment
  %td= link_to 'Edit', edit_comment_path(comment)
  %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?'}, :remote => true

%p= link_to 'Add Comment', new_comment_path(fact_id: @fact)

= link_to 'Edit', edit_fact_path(@fact)
\|
= link_to 'Back', facts_path
